@model HairSalon.Models.Stylist

<h3>Add a new stylist:</h3>

@using(Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.StylistFirstName, new { required = "required" } )
  @Html.TextBoxFor(model => model.StylistFirstName, new { required = "required" } )</p>

  <p>@Html.LabelFor(model => model.StylistLastName, new { required = "required" } )
  @Html.TextBoxFor(model => model.StylistLastName, new { required = "required" } )</p>

  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>