@model HairSalon.Models.Client

<h3>Add a new client:</h3>
@using (Html.BeginForm())
{

  <p>@Html.LabelFor(model => model.FirstName, new { required = "required" } )
  @Html.TextBoxFor(model => model.FirstName, new { required = "required" } )</p>
  
  <p>@Html.LabelFor(model => model.LastName, new { required = "required" } )
  @Html.TextBoxFor(model => model.LastName, new { required = "required" } )</p>
  
  @Html.LabelFor(model => model.ColorFormula)
  @Html.TextBoxFor(model => model.ColorFormula)

  <p>@Html.LabelFor(model => model.Stylist, new { required = "required" } )
  @Html.DropDownList("StylistId")</p>
  
  <p><input type="submit" value="Add new client" class="btn btn-default" /></p>
}
<p>@Html.ActionLink("Show all clients", "Index")</p>